footer{
    display: none;
}
.mainContainer{
    background-color: beige;
    margin: 0 auto;
    width: fit-content;
}
h1{
    text-align: center;
}

table{

}

th{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

}